<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.alcazardesanjuan.firebase1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".wineSelection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".aboutUs">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".wineSelection" />
        </activity>
        <activity android:name=".valoracionVinoUno"
            android:label="Vino 1"/>
        <activity android:name=".valoracionVinoDos"
            android:label="Vino 2"/>
        <activity android:name=".valoracionVinoTres"
            android:label="Vino 3"/>
        <activity android:name=".valoracionVinoCuatro"
            android:label="Vino 4"/>
        <activity android:name=".valoracionVinoCinco"
            android:label="Vino 5"/>
        <activity android:name=".valoracionVinoSeis"
            android:label="Vino 6"/>
        <activity android:name=".valoracionVinoSiete"
            android:label="Vino 7"/>
        <activity android:name=".valoracionVinoOcho"
            android:label="Vino 8"/>
        <activity android:name=".valoracionVinoNueve"
            android:label="Vino 9"/>
        <activity android:name=".valoracionVinoDiez"
            android:label="Vino 10"/>
        <activity
            android:name=".SplashWine"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PopLeyenda"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity android:name=".Main2Activity"></activity>
    </application>

</manifest>